# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

[aws]
[docker_context]
[git_branch]
[git_state]
[cmd_duration]
[directory]
[kubernetes]
[python]

